body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid-title {
  margin-left: 60px;
  padding-top: 25px;
}

.grid-container {
  width: 1004px;
  margin-left: 50px;
  border: 2px solid #a53bb3;
  border-radius: 3px;
}

.cell-number {
  text-align: right;
}

.cell-text {
  text-align: left;
}

/* master table styles*/
.master {
  border-collapse: collapse;
  width: 1000px;
}

.master td {
  border: 1px solid #8c8c8c;
  padding: 6px 30px 6px 30px;
}

.master tr:nth-child(even){background-color: #e6e6e6;}

.master tr:hover {background-color: #E7C6EC;}

.master th {
  padding: 20px 10px 20px 10px;
  text-align: center;
  border: 1px solid #8c8c8c;
  background-color: #A53BB3;
  color: white;
}

/* Style for detail table */
.detail {
  border-collapse: collapse;
  border: 1px #FFE087;
  width: 99%;
  background-color: white;
}

.detail td {
  border: 1px solid #8c8c8c;
  padding: 7px 25px 7px 25px;
}

.detail tr:nth-child(even){background-color: #e6e6e6;}

.detail tr:hover {background-color: #FFF8E6;}

.detail th {
  padding: 15px 8px 15px 8px;
  text-align: center;
  border: 1px solid #8c8c8c;
  background-color: #FFE087;
  color: black;
}

/* toolbar icons*/
.toolbar {
  border-collapse: collapse;
}
 
.toolbar td {
  border: 0;
  padding-left: 3px;
  padding-right: 2px;
  background-color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
